<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>e-albums</title>

        <!-- Bootstrap core CSS -->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="dist/css/jasny-bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/navmenu-reveal.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/full-slider.css" rel="stylesheet">
        <link href="css/Icomoon/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/animated-masonry-gallery.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="css/demo.css"/>
        <link rel="stylesheet" type="text/css" href="css/component.css"/>
        <link href="css/lightbox.css" rel="stylesheet" type="text/css"/>
        <script type="text/javaScript" src="js/modernizr.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="bar">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false"
                    data-target=".navmenu" data-canvas=".canvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navmenu navmenu-default navmenu-fixed-left">
            <ul class="nav navmenu-nav">
                <li><a href="toIndex">主页</a></li>
                <li><a href="toAllPhotos">所有照片</a></li>
                <li><a href="toPhotosEffects">照片特效</a></li>
                <li><a href="toUpload">上传照片</a></li>
            </ul>
            <a class="navmenu-brand" href="#"><img src="img/logo.png" width="160"></a>
            <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>

        <div class="canvas gallery"><br>
            <h1 class="blog-post-title text-center">Effects of Images</h1>
            <div style="float: top;width:auto" id="audioPlayDiv">
            </div>


            <span class="title-divider"></span>
            </section>
            <section id="photostack-3" class="photostack">
                <div>
                    <tr th:each="pepPhoto:${session.pepPhotos}">
                        <figure>
                            <a th:href="${pepPhoto.photoUrl}" data-lightbox="studio2"
                               class="photostack-img"><img th:src="${pepPhoto.photoUrl}"
                                                           alt="img05"/></a>
                            <figcaption>
                                <h2 class="photostack-title">Speed Racer</h2>
                                <div class="photostack-back">
                                    <p>
                                        保留一份尊严给自己得不到就不要，没有依靠还有骄傲。敢于放弃一段感情，不但需要勇气更需要底气。动了真感情的人，往往最能容。错与对没有了绝对，只要爱的人不再伤悲;是与否都了无所谓，只要心中的她笑得最美。
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </tr>
                    <tr th:each="scePhoto:${session.scePhotos}">
                        <figure>
                            <a th:href="${scePhoto.photoUrl}" data-lightbox="studio2"
                               class="photostack-img"><img th:src="${scePhoto.photoUrl}"
                                                           alt="img05"/></a>
                            <figcaption>
                                <h2 class="photostack-title">Speed Racer</h2>
                                <div class="photostack-back">
                                    <p>人生就像一场旅行，不必在乎目的地，在乎的是沿途的风景以及看风景的心情，让心灵去旅行!</p>
                                </div>
                            </figcaption>
                        </figure>
                    </tr>
                    <tr th:each="buiPhoto:${session.buiPhotos}">
                        <figure>
                            <a th:href="${buiPhoto.photoUrl}" data-lightbox="studio2"
                               class="photostack-img"><img th:src="${buiPhoto.photoUrl}"
                                                           alt="img05"/></a>
                            <figcaption>
                                <h2 class="photostack-title">Speed Racer</h2>
                                <div class="photostack-back">
                                    <p>御花园里，古柏参天，每一棵都长得十分茂盛。各式各样的怪石异花点缀在园内。 </p>
                                </div>
                            </figcaption>
                        </figure>
                    </tr>
                    <tr th:each="foodPhoto:${session.foodPhotos}">
                        <figure>
                            <a th:href="${foodPhoto.photoUrl}" data-lightbox="studio2"
                               class="photostack-img"><img th:src="${foodPhoto.photoUrl}"
                                                           alt="img05"/></a>
                            <figcaption>
                                <h2 class="photostack-title">Speed Racer</h2>
                                <div class="photostack-back">
                                    <p>
                                        霜余蔬甲淡中甜，春近录苗嫩不蔹。采掇归来便堪煮，半铢盐酪不须添。
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </tr>
                </div>
            </section>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="js/isotope.js"></script>
        <script type="text/javascript" src="js/animated-masonry-gallery.js"></script>
        <script src="dist/js/jasny-bootstrap.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/photostack.js"></script>
        <script src="js/main.js"></script>
        <script src="js/lightbox.js"></script>
        <script type="text/javascript">
            var strEmbed = '<embed src="http://localhost:8086/bgm/桥边姑娘.mp3" width=500 height=70 loop="-1" autostart="false"\n' +
                '                           volume="0">\n' +
                '                    </embed>';
            $("#audioPlayDiv").html(strEmbed);
        </script>
    </body>
</html>
