<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Photography Blog</title>

        <!-- Bootstrap core CSS -->

        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link href="dist/css/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="css/Raleway.css" rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/navmenu-reveal.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/full-slider.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="contact-page">
        <div class="bar">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false"
                    data-target=".navmenu" data-canvas=".canvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navmenu navmenu-default navmenu-fixed-left">

            <ul class="nav navmenu-nav">
                <li><a href="toIndex">主页</a></li>
                <li><a href="toAllPhotos">所有照片</a></li>
                <li><a href="toPhotosOrganize">照片管理</a></li>
                <li><a href="toUpload">上传照片</a></li>
                <li><a href="toExit">退出</a></li>
            </ul>
            <a class="navmenu-brand" href="#"><img src="img/logo.png" width="160"></a>
            <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>


        <div class="canvas contact-page">
            <div class="contact-bg col-md-8 col-sm-12">
                <img src="img/dolon.jpg" alt="" width="100%">
            </div>
            <div class="col-md-4 col-sm-12 contact-bar">
                <img class="map-img" src="img/map.jpg" alt="" width="100%">
                <h3 class="interest-text text-center"> 图片上传 </h3>
                <br>
                <br>
                <div class="col-sm-12 col-md-12">
                    <form action="/uploadPhoto" method="post" id="uploadForm"  enctype="multipart/form-data">
                        <div class="controls controls-row">
                            <div class="">
                                <span class="col-md-6 form-control">图片分类:</span><select class="col-md-6 form-control"
                                                                                        name="type">
                                <option value="0">人物</option>
                                <option value="1">风景</option>
                                <option value="2">建筑</option>
                                <option value="3">美食</option>
                            </select>
                            </div>
                            <div class="">
                                <span class="col-md-6 form-control">选择照片特效:</span><select class="col-md-6 form-control"
                                                                                              name="effect">
                                <option value="1">旋转</option>
                                <option value="2">立方体</option>
                                <option value="3">全屏放大缩小</option>
                            </select>

                            </div>
                            <div class="">
                                <span class="col-md-6 form-control">选择照片库的背景音乐:</span><select class="col-md-6 form-control"
                                                                                        name="bgm">
                                <option>二嬢 (Jc.陈崎凡 remix)</option>
                                <option>桥边姑娘</option>
                                <option>下山</option>
                                <option>Alchemist Project - Go Down (Radio Edit)</option>
                                <option>EXGF - We Are The Hearts</option>
                                <option>Fri,TomLeevis - Leevis</option>
                            </select>

                            </div>
                            <div class="">
                                <input type="file" name="photo" id="photo" class="col-md-5 form-control"><br>
                            </div>
                        </div>
                        <div class="controls">
                            <textarea id="message" name="message" class="col-md-12" placeholder="照片描述"
                                      rows="5"></textarea>
                        </div>

                        <!--<div class="controls btn-full">-->
                            <button id="btnupload" name="upload" type="button"
                                    style="color: #fff;background-color: #337ab7;border-color: #2e6da4;width: 30%;">上传
                            </button>
                        <!--</div>-->
                        <div class=""><span class="col-md-6 form-control" style="color: red" id="uploadMsg" th:text="${uploadMsg}"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min1.js"></script>
        <script src="dist/js/jasny-bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#btnupload").click(function () {
                    $("#uploadForm").submit();
                });
            });
        </script>
    </body>
</html>
